*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}
body{
    width: 100%;
    background: url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    cursor: url('cursor.png'), auto;
}
.navbar{
    display: flex;
    align-items: center;
    background: white;
    height: 100px;
    max-width: 1648px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 25px;
    margin: 7px auto 0 auto;
    font-family: "Montserrat";
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.logo {
    display: flex;
    align-items: center;
    color: black;
    font-size: 35px;
    color: #f3ad61;
    height: 100%;
    font-weight: bold;
    padding-left: 80px;
    padding-right: 520px;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
    cursor: pointer;
}
.logo img {
    border-radius: 50%;
    background: #f3ad61;
}
.logo img:hover {
    transform: scale(1.05);
}
.navbar ul{
    float: right;
    margin: auto;
}
.navbar ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
    width: 150px;
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
    text-align: center;
}
.navbar ul li a{
    backdrop-filter: blur(8px);
    color: #f3ad61;
    font-size: 21px;
    padding: 7px 13px;
    border-radius: 3px;
    font-family: "Montserrat";
}
a.active, a:hover{
    -webkit-text-fill-color: #ffd480;
    transition: 1s;
}
.checkbtn{
    font-size: 30px;
    color: #f3ad61;
    float: right;
    display: flex;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    transform: matrix3d();
    padding-left: 50px;
}
#check{
    display: none;
}
.about-box {
    width: 1648px;
    height: 650px;
    border-radius: 25px;
    margin: 7px auto 0 auto;
    background: #ffd480;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.about-box-box {
    width: 1648px;
    height: 470px;
    margin: 7px auto 0 auto;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-box-box-img {
    width: 410px;
    height: 400px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.about-box-box-img img {
    width: 390px;
    height: 380px;
    background: white;
    display: flex;
    border: 3px solid #f3ad61;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;

}
.about-box-box-img img:hover {
    transform: translateY(-10);
    transition-duration: 250ms;
    width: 410px;
    height: 400px;
}
.about-box-box-text {
    width: 1050px;
    height: 400px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.about-box-text-box {
    width: 305px;
    height: 370px;
    background: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.about-box-text-box-title {
    width: 300px;
    height: 100px;
    background: white;
    display: flex;
    border-bottom: 8px solid #f3ad61;
    justify-content: space-around;
    align-items: center;
    font-family: "Montserrat";
    font-size: 50px;
    font-weight: bold;
    flex-wrap: wrap;
}
.about-box-text-box-desc {
    width: 300px;
    height: 250px;
    background: white;
    display: flex;
    font-family: "Montserrat";
    padding-top: 30px;
    font-size: 18px;
    text-align: justify;
}
.about-box-text-box-desc span {
    color: darkgoldenrod;
}
.about-box-contact {
    width: 1648px;
    height: 150px;
    border-radius: 25px;
    margin: 7px auto 0 auto;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Montserrat";
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.contact-us {
    width: 350px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #f3ad61;
    font-size: 43px;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.contact-us-icons {
    width: 1150px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #f3ad61;
    font-size: 30px;
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.footer {
    width: 1648px;
    height: 100px;
    border-radius: 25px;
    margin: 7px auto 0 auto;
    background: #ffd480;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Montserrat";
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 25px;
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px;
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: #ffd480;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 40px;
    color: white;
    opacity: 0.9;
}
.socialIcons a:hover{
    background-color: white;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: #f3ad61;
    transition: 0.5s;
}
.bg_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1040px;
    background-color: rgba(255, 255, 255, 0.5);
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 952px){
    label.logo{
        font-size: 25px;
        padding-left: 20px;
    }
    .navbar ul li a{
        text-align: center;
        font-size: 20px;
    }
}
@media (max-width: 600px){
    .checkbtn{
        display: block;  
    }
    .checkbtn{
        padding-left: 30px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color:#fff;
        top: 100px;
        left: -500%;
        text-align: center;
        transition: all .5s;
        border-radius: 25px;
    }
    .navbar ul li{
        display: block;
        margin: 60px 0;
        line-height: 30px;
    }
    .navbar ul li a{
        font-size: 30px;
        color:black;
        border: 1px solid ;
        float: left;
        margin-left: 30%;
        border: none;
        align-items: center;
        padding-left:20%;
        padding-bottom: 50px;
        text-align: center;
    }
    a.active,a:hover{
        background: none;
        color:bisque;
    }
    #check:checked ~ ul{
        left: 0;
    }
    a.active,a:hover{
        background: none;
        color:bisque;
    }
    #check:checked ~ ul{
        left: 0;
    }
    body{
        width: 100%;
        height: 2332px;
        background: url(bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: sans-serif;
        cursor: url('cursor.png'), auto;
    }
    .navbar{
        display: flex;
        align-items: center;
        background: white;
        height: 100px;
        max-width: 400px;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1000;
        border-radius: 25px;
        margin: 7px auto 0 auto;
        font-family: "Montserrat";
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        animation-name: fadeInUp;
        animation-duration: 1.5s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }
    .about-box {
        width: 397px;
        height: 1700px;
        border-radius: 25px;
        margin: 7px auto 0 auto;
        background: #ffd480;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
        animation-name: fadeInUp;
        animation-duration: 1.5s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }
    .about-box-box {
        width: 395px;
        height: 1600px;
        margin: 7px auto 0 auto;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-box-box-img {
        width: 350px;
        height: 380px;
        background: white;
        display: flex;
        margin-top: 20px;
        margin-bottom: 40px;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .about-box-box-img img {
        width: 350px;
        height: 350px;
        background: white;
        display: flex;
        border: 3px solid #f3ad61;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 30px;
        flex-wrap: wrap;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
        animation-name: slideInLeft;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }
    .about-box-box-img img:hover {
        transform: translateY(-10);
        transition-duration: 250ms;
        width: 330px;
        height: 350px;
    }
    .about-box-box-text {
        width: 350px;
        height: 1200px;
        background: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .about-box-text-box {
        width: 300px;
        height: 370px;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation-name: slideInRight;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }
    .about-box-text-box-title {
        width: 300px;
        height: 100px;
        background: white;
        display: flex;
        border-bottom: 8px solid #f3ad61;
        justify-content: space-around;
        align-items: center;
        font-family: "Montserrat";
        font-size: 40px;
        font-weight: bold;
        flex-wrap: wrap;
    }
    .about-box-text-box-desc {
        width: 300px;
        height: 250px;
        background: white;
        display: flex;
        font-family: "Montserrat";
        font-size: 18px;
        text-align: justify;
    }
    .about-box-text-box-desc span {
        color: darkgoldenrod;
    }
    .about-box-contact {
        width: 397px;
        height: 350px;
        border-radius: 25px;
        background: white;
        font-family: "Montserrat";
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
        animation-name: fadeInUp;
        animation-duration: 1.5s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    .contact-us {
        width: 350px;
        height: 50px;
        color: #f3ad61;
        font-size: 43px;
        animation-name: slideInLeft;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }
    .contact-us-icons {
        width: 300px;
        height: 100px;
        font-weight: bold;
        color: #f3ad61;
        font-size: 30px;
        animation-name: slideInRight;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .socialIcons {
        font-size: 20px;
        animation-name: fadeInUp;
        animation-duration: 1.5s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
        margin: 5px 0 0 0;
    }
    .socialIcons a{
        text-decoration: none;
        background-color: #ffd480;
        border-radius: 50%;
    }
    .socialIcons a i{
        font-size: 40px;
        color: white;
        opacity: 0.9;
    }
    .socialIcons a:hover{
        background-color: white;
        transition: 0.5s;
    }
    .socialIcons a:hover i{
        color: #f3ad61;
        transition: 0.5s;
    }
    .first {
        margin-bottom: 35px;
    }
    .second{
        margin-bottom: 30px;
    }
    .last{
        margin-bottom: 50px;
    }
    .footer {
        width: 397px;
        height: 100px;
        border-radius: 25px;
        margin: 7px auto 0 auto;
        background: #ffd480;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Montserrat";
        align-items: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        color: white;
        font-size: 25px;
        animation-name: fadeInUp;
        animation-duration: 1.5s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }
    .logo {
        width: 100px;
        display: flex;
        align-items: center;
        color: black;
        font-size: 30px;
        color: #f3ad61;
        height: 100%;
        font-weight: bold; 
        padding-right: 500px;
        animation-name: slideInLeft;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
        cursor: pointer;
    }
    .logo p{
        font-size: 25px;
    }
    .logo img {
        border-radius: 50%;
        background: #f3ad61;
    }
    .logo img:hover {
        transform: scale(1.05);
    }
    .footer {
        max-width: 395px;
        min-height: 150px;
        border-radius: 25px;
        margin: 7px auto 0 auto;
        background: #ffd480;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Montserrat";
        align-items: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        color: white;
        font-size: 25px;
        animation-name: fadeInUp;
        animation-duration: 1.5s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }
    .footer p {
        font-size: 17px;
        text-align: center;
    }
    .socialIcons a i{
        font-size: 25px;
    }
    .bg_overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2332px;
        background-color: rgba(255, 255, 255, 0.5);
    }
}