*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}
body{
    width: 100%;
    background: url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    cursor: url('cursor.png'), auto;
}
.navbar{
    display: flex;
    align-items: center;
    background: white;
    min-height: 100px;
    max-width: 1648px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 25px;
    margin: 7px auto 0 auto;
    font-family: "Montserrat";
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.logo {
    display: flex;
    align-items: center;
    color: black;
    font-size: 35px;
    color: #f3ad61;
    height: 100%;
    font-weight: bold;
    padding-left: 80px;
    padding-right: 520px;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
    cursor: pointer;
}
.logo img {
    border-radius: 50%;
    background: #f3ad61;
}
.logo img:hover {
    transform: scale(1.05);
}
.navbar ul{
    float: right;
    margin: auto;
}
.navbar ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
    width: 150px;
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
    text-align: center;
}
.navbar ul li a{
    backdrop-filter: blur(8px);
    color: #f3ad61;
    font-size: 21px;
    padding: 7px 13px;
    border-radius: 3px;
    font-family: "Montserrat";
}
a.active, a:hover{
    -webkit-text-fill-color: #ffd480;
    transition: 1s;
}
.checkbtn{
    font-size: 30px;
    color: #f3ad61;
    float: right;
    display: flex;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    transform: matrix3d();
    padding-left: 50px;
}
#check{
    display: none;
}
.order-box {
    max-width: 1648px;
    min-height: 850px;
    background: #ffd480;
    border-radius: 25px;
    margin: 7px auto 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.sign-up {
    width: 580px;
    height: 610px;
    border-radius: 25px;
    background-color: #ffeac0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.details {
    width: 100%;
    text-align: center;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.details form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.details input {
    width: 500px;
    height: 65px;
    border-radius: 50px;
    font-family: "Montserrat";
    padding-left: 20px;
    font-size: 22px;
    border: none;
    margin-bottom: 50px;
    outline: none; 
    padding-right: 15px;
    
}
.details input:focus {
    box-shadow: 0 0 0 2px #f3ad61;
}

.sign-in-button {
    text-align: center;
}
.sign-in-button input {
    width: 180px;
    height: 65px;
    text-align: center;
    border-radius: 50px;
    font-family: "Montserrat";
    font-size: 22px;
    border: none;
    background: #f3ad61;
    color: white;
    font-weight: bold;
    cursor: pointer;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.orders {
    width: 880px;
    height: 750px;
    border-radius: 25px;
    background-color: #ffeac0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
    
}
.orders-title {
    width: 800px;
    height: 55px;
    border-radius: 25px;
    background: white;
    color: #f3ad61;
    font-weight: bold;
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.orders-details {
    width: 800px;
    height: 600px;
    border-radius: 25px;
    background: white;
    color: #f3ad61;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin-top: 15px;
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
   
}
.orders-details-name {
    width: 800px;
    height: 55px;
    border-radius: 25px;
    background: white;
    color: #f3ad61;
    font-family: "Montserrat";
    display: flex;
    align-items: center;
    font-size: 28px;
    padding-left: 50px;
    margin-bottom: 15px;
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.orders-details-name p{
    margin-right: 20px;
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
    font-size: 25px;
}
.orders-details-name input {
    width: 585px;
    height: 50px;
    border-radius: 25px;
    background: #e9e9e9;
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-left: 25px;
    border: none;
    outline: none;
}
.orders-details-contact {
    width: 800px;
    height: 50px;
    border-radius: 25px;
    background: white;
    color: #f3ad61;
    font-family: "Montserrat";
    display: flex;
    align-items: center;
    font-size: 28px;
    padding-left: 50px;
    margin-bottom: 10px;
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.orders-details-contact p{
    margin-right: 20px;
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.orders-details-contact input {
    width: 585px;
    height: 50px;
    border-radius: 25px;
    background: #e9e9e9;
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-left: 25px;
    border: none;
    outline: none;
}
.orders-details-pq {
    width: 800px;
    height: 55px;
    border-radius: 25px;
    background: white;
    font-family: "Montserrat";
    display: flex;
    align-items: center;
    font-size: 28px;
    margin-bottom: 10px;
}
.orders-details-product {
    width: 450px;
    height: 55px;
    border-radius: 25px;
    background: white;
    color: #f3ad61;
    font-family: "Montserrat";
    font-size: 28px;
    display: flex;
    padding-left: 50px;
    align-items: center;
    margin-bottom: 10px;
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.orders-details-product p{
    margin-right: 20px;
    margin-top: 10px;
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.orders-details-product select {
    width: 160px;
    height: 50px;
    border-radius: 25px;
    background: #e9e9e9;
    font-family: "Montserrat";
    font-size: 13px;
    padding-left: 20px;
    margin-top: 15px;
    border: none;
    outline: none;
}
.orders-details-quantity {
    width: 400px;
    height: 55px;
    border-radius: 25px;
    background: white;
    color: #f3ad61;
    font-family: "Montserrat";
    font-size: 28px;
    display: flex;
    align-items: center;
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.orders-details-quantity p{
    margin-right: 20px;
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.orders-details-quantity input {
    width: 150px;
    height: 55px;
    border-radius: 25px;
    background: #e9e9e9;
    font-family: "Montserrat";
    font-size: 20px;
    padding-left: 20px;
    border: none;
    outline: none;
}
.orders-details-additional {
    width: 800px;
    height: 150px;
    border-radius: 25px;
    background: white;
    color: #f3ad61;
    font-family: "Montserrat";
    font-size: 28px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.orders-details-additional p{
    margin-right: 20px;
    margin: 10px;
    padding-left: 20px;
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.orders-details-additional input {
    width: 705px;
    height: 100px;
    border-radius: 25px;
    background: #e9e9e9;
    font-family: "Montserrat";
    font-size: 20px;
    padding-left: 20px;
    border: none;
    outline: none;
    margin-left: 29px;
}
.submit-button {
    text-align: center;
}
.submit-button input {
    width: 180px;
    height: 65px;
    text-align: center;
    border-radius: 50px;
    font-family: "Montserrat";
    font-size: 22px;
    border: none;
    background: #f3ad61;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.footer {
    max-width: 1648px;
    min-height: 150px;
    border-radius: 25px;
    margin: 7px auto 0 auto;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Montserrat";
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    color: #ffd480;
    font-size: 25px;
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.socialIcons {
    display: flex;
    justify-content: center;
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: #ffd480;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 40px;
    color: white;
    opacity: 0.9;
}
.socialIcons a:hover{
    background-color: white;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: #f3ad61;
    transition: 0.5s;
}
.bg_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 985px;
    background-color: rgba(255, 255, 255, 0.5);
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 20px;
    }
    .navbar ul li a{
        text-align: center;
        font-size:20px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;  
    }
    .checkbtn{
        padding-left: 30px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color:#fff;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        border-radius: 25px;
    }
    .navbar ul li{
        display: block;
        margin: 60px 0;
        line-height: 30px;
    }
    .navbar ul li a{
        font-size: 30px;
        color:black;
        border: 1px solid ;
        float: left;
        margin-left: 30%;
        border: none;
        align-items: center;
        padding-left:20%;
        padding-bottom: 50px;
        text-align: center;
    }
    a.active,a:hover{
        background: none;
        color:bisque;
    }
    #check:checked ~ ul{
        left: 0;
    }
    a.active,a:hover{
        background: none;
        color:bisque;
    }
    #check:checked ~ ul{
        left: 0;
    }
    body{
        width: 100%;
        height: 1745px;
        background: url(bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: sans-serif;
        cursor: url('cursor.png'), auto;
    }
    .navbar{
        display: flex;
        align-items: center;
        background: white;
        height: 100px;
        max-width: 500px;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1000;
        border-radius: 25px;
        margin: 7px auto 0 auto;
        font-family: "Montserrat";
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        animation-name: fadeInUp;
        animation-duration: 1.5s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }
    .order-box {
        max-width: 397px;
        min-height: 700px;
        background: #ffd480;
        border-radius: 25px;
        margin: 7px auto 0 auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        animation-name: fadeInUp;
        animation-duration: 1.5s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }
    .sign-up {
        max-width: 370px;
        min-height: 500px;
        border-radius: 25px;
        background-color: #ffeac0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: fadeInUp;
        animation-duration: 1.5s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
        margin-top:20px ;
        margin-bottom: 20px;
    }
    .details {
        width: 100%;
        text-align: center;
        animation-name: slideInLeft;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }
    .details form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
    }
    .details input {
        width: 300px;
        height: 65px;
        border-radius: 50px;
        font-family: "Montserrat";
        padding-left: 20px;
        font-size: 15px;
        border: none;
        margin-bottom: 50px;
        outline: none; 
        padding-right: 15px;
    }
    .details input:focus {
        box-shadow: 0 0 0 2px #f3ad61;
    }
    .sign-in-button {
        text-align: center;
    }
    .sign-in-button input {
        width: 140px;
        height: 65px;
        text-align: center;
        border-radius: 50px;
        font-family: "Montserrat";
        font-size: 17px;
        border: none;
        background: #f3ad61;
        color: white;
        font-weight: bold;
        cursor: pointer;
        animation-name: slideInLeft;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }
    .orders {
        max-width: 370px;
        min-height: 800px;
        border-radius: 25px;
        background-color: #ffeac0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: fadeInUp;
        animation-duration: 1.5s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
        margin-bottom: 20px;
    }
    .orders-title {
        max-width: 300px;
        height: 55px;
        border-radius: 25px;
        background: white;
        color: #f3ad61;
        font-weight: bold;
        font-family: "Montserrat";
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        animation-name: fadeInUp;
        animation-duration: 1.5s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }
    .orders-details {
        max-width: 350px;
        min-height: 700px;
        border-radius: 25px;
        background: white;
        color: #f3ad61;
        font-family: "Montserrat";
        font-size: 28px;
        margin-top: 15px;
        animation-name: fadeInUp;
        animation-duration: 1.5s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
        display: flex;
    }
    .orders-details-name {
        max-width: 350px;
        height: 50px;
        border-radius: 25px;
        background: white;
        color: #f3ad61;
        font-family: "Montserrat";
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 28px;
        padding-left: 50px;
        margin-bottom: 10px;
        animation-name: slideInRight;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }
    .orders-details-name p{
        margin-right: 20px;
        animation-name: slideInRight;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
        font-size: 17px;
        margin-top: 10px;
    }
    .orders-details-name input {
        width: 250px;
        height: 50px;
        border-radius: 25px;
        background: #e9e9e9;
        font-family: "Montserrat";
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8px;
        padding-left: 25px;
        outline: none;
    }
    .orders-details-contact {
        width: 350px;
        height: 50px;
        border-radius: 25px;
        background: white;
        color: #f3ad61;
        font-family: "Montserrat";
        display: flex;
        align-items: center;
        font-size: 28px;
        padding-left: 50px;
        margin-bottom: 10px;
        animation-name: slideInRight;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }
    .orders-details-contact p{
        margin-right: 20px;
        animation-name: slideInRight;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
        font-size: 17px;
    }
    .orders-details-contact input {
        width: 250px;
        height: 50px;
        border-radius: 25px;
        background: #e9e9e9;
        font-family: "Montserrat";
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        padding-left: 25px;
        border: none;
        outline: none;
    }
    .orders-details-pq {
        width: 350px;
        height: fit-content;
        border-radius: 25px;
        background: white;
        font-family: "Montserrat";
        display: flex;
        align-items: center;
        font-size: 28px;
        margin-bottom: 50px;
        margin-top: none;
    }
    .orders-details-product {
        width: 350px;
        height: 55px;
        border-radius: 25px;
        background: white;
        color: #f3ad61;
        font-family: "Montserrat";
        font-size: 28px;
        display: flex;
        padding-left: 50px;
        align-items: center;
        margin-bottom: 50px;
        animation-name: slideInRight;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
        margin-top: 10px;
    }
    .orders-details-product p{
        margin-right: 20px;
        margin-top: 10px;
        animation-name: slideInRight;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
        font-size: 17px;
    }
    .orders-details-product select {
        width: 135px;
        height: 50px;
        border-radius: 25px;
        background: #e9e9e9;
        font-family: "Montserrat";
        font-size: 11px;
        padding-left: 20px;
        margin-top: 15px;
        border: none;
        outline: none;
    }
    .orders-details-quantity {
        width: 350px;
        height: 55px;
        border-radius: 25px;
        background: white;
        color: #f3ad61;
        font-family: "Montserrat";
        font-size: 28px;
        display: flex;
        align-items: center;
        animation-name: slideInRight;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
        position: absolute;
        margin-top: 35%;
        padding-left: 50px;
    }
    .orders-details-quantity p{
        margin-right: 20px;
        animation-name: slideInRight;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
        font-size: 17px;
    }
    .orders-details-quantity input {
        width: 135px;
        height: 55px;
        border-radius: 25px;
        background: #e9e9e9;
        font-family: "Montserrat";
        font-size: 11px;
        padding-left: 25px;
        border: none;
        outline: none;
    }
    .orders-details-additional {
        width: 350px;
        height: 150px;
        border-radius: 25px;
        background: white;
        color: #f3ad61;
        font-family: "Montserrat";
        font-size: 28px;
        padding-left: 20px;
        display: flex;
        justify-content: center;
        animation-name: slideInRight;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }
    .orders-details-additional p{
        margin-right: 20px;
        padding-left: 20px;
        animation-name: slideInRight;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
        font-size: 20px;
    }
    .orders-details-additional input {
        width: 260px;
        height: 100px;
        border-radius: 25px;
        background: #e9e9e9;
        font-family: "Montserrat";
        font-size: 20px;
        padding-left: 20px;
        border: none;
        outline: none;
        margin-left: 23px;
        font-size: 15px;
    }
    .submit-button {
        text-align: center;
    }
    .submit-button input {
        width: 150px;
        height: 55px;
        text-align: center;
        border-radius: 50px;
        font-family: "Montserrat";
        font-size: 15px;
        border: none;
        background: #f3ad61;
        color: white;
        font-weight: bold;
        margin-top: 20px;
        cursor: pointer;
        animation-name: slideInRight;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }
    .logo {
        width: 100px;
        display: flex;
        align-items: center;
        color: black;
        font-size: 30px;
        color: #f3ad61;
        height: 100%;
        font-weight: bold; 
        padding-right: 500px;
        animation-name: slideInLeft;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
        cursor: pointer;
    }
    .logo p{
        font-size: 25px;
    }
    .logo img {
        border-radius: 50%;
        background: #f3ad61;
    }
    .logo img:hover {
        transform: scale(1.05);
    }
    .footer {
        max-width: 397px;
        min-height: 150px;
        border-radius: 25px;
        margin: 7px auto 0 auto;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Montserrat";
        align-items: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        color: #ffd480;
        font-size: 25px;
        animation-name: fadeInUp;
        animation-duration: 1.5s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }
    .footer p {
        font-size: 17px;
        text-align: center;
    }
    .socialIcons a i{
        font-size: 25px;
    }
    .bg_overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1745px;
        background-color: rgba(255, 255, 255, 0.5);
    }
}